@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN+Guides&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.playwrite-in-guides-regular {
  font-family: "Playwrite IN Guides", cursive;
  font-weight: 400;
  font-style: normal;
}